* {
  margin: 0;
  padding: 0;
}

/* navbar elements styling */
#navbar {
  background-color: #343434;
  padding: 20px 0 10px;
  position: sticky;
  top: 0;
}
#navbar h1 {
  color: #fff;
  font-family: monospace;
  margin: 0 35%;
  font-size: 2rem;
}
.header-name {
  color: #ff570c;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 0.8rem;
}

.nav-link:hover {
  color: #ff570c;
}

/* main section */
.main-section {
  padding: 10px 10px;
  margin: 0 20px;
}
.main-section p {
  font-size: 1.1rem;
  padding: 10px 0;
}
.main-section h2 {
  text-align: center;
  margin-top: 10px;
  color: #706c61;
}
.ulheading {
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px;
}
.list {
  margin-left: 20px;
  padding-bottom: 20px;
}
#string,
#numbers,
#boolean,
#undefined {
  padding-top: 80px;
}

#null {
  padding-top: 80px;
  padding-bottom: 80px;
}

.info {
  font-size: 0.9rem;
}
.info a {
  text-decoration: none;
  color: #ff570c;
  font-weight: bold;
}
.info a:hover {
  background-color: #333333;
  color: #fff;
}

/* footer */
footer {
  background-color: #343434;
  position: fixed;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}
.fab {
  color: skyblue;
  padding: 0 10px;
}
.line {
  width: 30%;
  margin: 0 auto;
}
/* colours used- 3c4245 for navbar, e5edc4 for main section */
